@import "base.css";
body{
    font-family: "Microsoft YaHei";
    background-color: #cccccc;
}
header#navbar{
    height: 50px;
    background-color: #333;
    //h1{
    //    display: none;
    //    :after{
    //        border: 1px solid red;
    //        content: "";
    //        height:50px;
    //        width: 50px;
    //        background-image: url("https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/logo_white_fe6da1ec.png");
    //    }
    //}
    img{
        height: 50px;
    }
    nav{
        display: inline-block;
        height: 50px;
        float: right;
        ul{
            display: inline-block;
            li{
                display: inline-block;
                margin-right:10px;
                :hover{
                    color: #cccccc;
                }
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }
}

article,aside{
    margin:10px 10px 10px 10px;
    background-color: #ffffff;
    padding: 10px;
    figure{
        display: inline-block;
        width: 230px;
        border:1px solid #cccccc;
    }
}