@import "base.css";
body {
  font-family: "Microsoft YaHei";
  background-color: #cccccc;
}
header#navbar {
  height: 50px;
  background-color: #333;
}
header#navbar img {
  height: 50px;
}
header#navbar nav {
  display: inline-block;
  height: 50px;
  float: right;
}
header#navbar nav ul {
  display: inline-block;
}
header#navbar nav ul li {
  display: inline-block;
  margin-right: 10px;
}
header#navbar nav ul li :hover {
  color: #cccccc;
}
header#navbar nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
article,
aside {
  margin: 10px 10px 10px 10px;
  background-color: #ffffff;
  padding: 10px;
}
article figure,
aside figure {
  display: inline-block;
  width: 230px;
  border: 1px solid #cccccc;
}
table th,
td {
  border: 1px solid #ccc;
}
