@import "../stylesheets/base.css";
.border-grey {
  border: 1px #999 solid;
}
.bg-white {
  background-color: white;
}
body {
  padding: 20px;
}
#container {
  background: #eee;
  padding: 20px;
}
#container::after {
  content: '';
  display: block;
  clear: both;
}
#container #left,
#container #main-outer,
#container #right {
  float: left;
}
#container #left {
  width: 200px;
  margin-left: -100%;
  padding: 15px;
  box-sizing: border-box;
}
#container #left img {
  width: 80px;
  height: 80px;
}
#container #left div {
  display: inline-block;
  width: 80px;
  vertical-align: top;
}
#container #main-outer {
  width: 100%;
}
#container #main {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 140px 0 220px;
}
#container #right {
  margin-left: -120px;
  width: 120px;
  box-sizing: border-box;
  padding: 20px;
}
#container #right img {
  width: 80px;
  height: 80px;
  margin-bottom: 18px;
}
#container #right img:last-of-type {
  margin-bottom: 0;
}
